<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jangwon.welcomeseoullo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="false"
        android:icon="@mipmap/icon_test"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuideAppInfo">

        </activity>
        <activity android:name=".Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >

        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".PathInfoActivity" >

        </activity>
        <activity android:name=".NoticeActivity"/>
        <activity android:name=".ViewContents" />
        <activity android:name=".GuideInfoActivity" >

        </activity>
        <activity android:name=".BusPathActivity" />
    </application>

</manifest>